form button{
	border-radius: 6px;
}

form label{
	padding: 12px 12px 12px 0;
	display: inline-block;
	color: black;
}
form input[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}