*{
  box-sizing: border-box;
}

body{
  background: #f1f5f8;
  color: #222;
}

.container{
  margin: auto;
  padding: 30px;
  background-color: #33C8FF;
}

.container h1{
  text-align: center;
}

button{
  margin: 5px;
  padding: 5px 8px;
}